.header {
  border: black 1px solid;
  display: flex;
  background-color: rgb(50, 167, 145);
  justify-content: space-between;
}

.trybewarts-header-logo {
  display: flex;
  border: black 1px solid;
}

.trybewarts-login {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-end;
  align-items: end;
  border: black 1px solid;
  max-width: 250px;
  margin-right: 20px;
}

#trybewarts-header-title {
  display: flex;
  margin-top: 25%;
  font-family: fonteHogwarts, sans-serif;
  font-size: 100px;
  color: aliceblue;
}

@font-face {
  font-family: fonteHogwarts;
  src: url('MagicSchoolOne.ttf');
}

main {
  display: flex;
}

#evaluation-form {
  display: flex;
  width: 675px;
  flex-direction: column;
}