.header{
    border: black 1px solid;
    display: flex;
    background-color: rgb(50, 167, 145);
    justify-content: space-between
}
.trybewarts-header-logo{
    display: flex;
    border: black 1px solid;

}
.trybewarts-login{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content:flex-end;
    align-items: end;
    border: black 1px solid;
    max-width: 250px;
    margin-right: 20px;
}
#trybewarts-header-title{
    display: flex;
    margin-top: 50%;    

    
}

